<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Local alignment</h1>
    <div class="">
      <form action="{{url_for('Lalignment')}}" method="post">
  <label for="fseq">First Sequence:</label>
  <input type="text" id="fseq" name="fseq"><br><br>
  <label for="secseq">Second Sequence:</label>
  <input type="text" id="secseq" name="secseq"><br><br>
  <input type="submit" value="Align">
</form>
    </div>
  </body>
</html>
